<!-- Wallet name and password modal -->
<app-ui-modal #nameAndPasswordModal dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">{{ modalTitle }}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="nameAndPasswordModal.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
        
    <form [formGroup]="NameAndPasswordForm" [id]="'NameAndPasswordForm'+createOrImport" (ngSubmit)="onSubmitNameAndPasswordForm()">
      <div class="form-group">
        <label [for]="'wallet-name-'+createOrImport">Name</label>
        <input type="text" class="form-control" [id]="'wallet-name-'+createOrImport" placeholder="Enter wallet name" formControlName="walletName" [ngClass]="{'is-invalid': (walletName.dirty || walletName.touched) && walletName.invalid, 'is-valid': (walletName.dirty || walletName.touched) && !walletName.invalid}">
        <div *ngIf="(walletName.dirty || walletName.touched) && walletName.invalid">
          <small class="form-text text-danger" *ngIf="walletName.errors.required">A wallet name is required.</small>
        </div>
        <small id="wallet-name-help" class="form-text text-muted">This name can be changed later.</small>
      </div>
      
      <div formGroupName="walletPassword">
        <div class="form-group">
          <label for="'wallet-password-'+createOrImport">Password</label>
          <input type="password" class="form-control" [id]="'wallet-password-'+createOrImport" placeholder="Enter a password" formControlName="password" [ngClass]="{'is-invalid': (password.dirty || password.touched) && password.invalid, 'is-valid': (password.dirty || password.touched) && !password.invalid}">
          <div *ngIf="(password.dirty || password.touched) && password.invalid">
            <small class="form-text text-danger">Password is required (only letters or numbers allowed).</small>
          </div>
        </div>
        <div class="form-group">
          <label [for]="'wallet-password-confirmation-'+createOrImport">Confirm password</label>
          <input type="password" class="form-control" [id]="'wallet-password-confirmation-'+createOrImport" placeholder="Please confirm the password" formControlName="passwordConfirmation" [ngClass]="{'is-invalid': (passwordConfirmation.dirty || passwordConfirmation.touched) && (passwordConfirmation.invalid || NameAndPasswordForm.controls.walletPassword.errors?.passwordsDoNotMatch), 'is-valid': (passwordConfirmation.dirty || passwordConfirmation.touched) && !passwordConfirmation.invalid && !NameAndPasswordForm.controls.walletPassword.invalid}">
          <div *ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && (passwordConfirmation.invalid || NameAndPasswordForm.controls.walletPassword.invalid)">
            <small class="form-text text-danger" *ngIf="passwordConfirmation.errors?.required">Password confirmation is required.</small>
            <small class="form-text text-danger" *ngIf="NameAndPasswordForm.controls.walletPassword.errors?.passwordsDoNotMatch">Passwords don't match.</small>
          </div>
          <small id="wallet-password-help" class="form-text text-muted">This password is used to encrypt the private key and can be changed later.</small>
        </div>
      </div>
    </form>
    
  </div>
  <div class="app-modal-footer">
    <div *ngIf="createOrImport === 'create'">
      <button [attr.form]="'NameAndPasswordForm'+createOrImport" class="btn btn-primary text-center">Continue</button>
    </div>
    
    <div *ngIf="createOrImport === 'import'">
      <button class="btn btn-secondary text-center" (click)="onBackButtonClick($event)">Back</button>
      <button [attr.form]="'NameAndPasswordForm'+createOrImport" class="btn btn-success text-center">Confirm & import</button>
    </div>
  </div>
</app-ui-modal>
