<div class="card">
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-8">
        <!-- Wallet Name -->
        <h3>My Wallet Name</h3>
        
        <!-- Public address -->
        <div class="input-group my-3">
          <input type="text" class="form-control" value="XCA1r7VKaXa0G1dibca68D09MeqK7e4FyVIypXJ7CafJt8IbGNtFYkhcS1dWAzqo8ecQJndKtoinC5Rmj3r32HYHFtJn9M6dTQ" aria-label="Wallet's public key" aria-describedby="public-key" readonly>
          <div class="input-group-append">
            <button class="btn btn-icon btn-secondary" type="button"><i class="feather icon-copy"></i></button>
            <button class="btn btn-icon btn-primary" type="button"><i class="fas fa-qrcode"></i></button>
          </div>
        </div>
        
        <!-- Balance in XCASH, USD and SEND button-->
        
        <div class="d-flex align-items-end">
          <h4 class="mb-0 mr-2">128,283,370 XCASH</h4>
          <span>USD 36,23</span>
        </div>
      
      </div>

      <!-- Wallet basic functionnalities navbar -->
      <div class="col-2">
        <button class="btn btn-success m-0 px-4" type="button" (click)="sendModal.show()" data-toggle="modal"><i style="transform: scaleX(-1);" class="fas fa-reply"></i>Send</button>
      </div>
      
      
    </div>
    
  </div>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><h5 class="mb-0">Transactions</h5></ng-template>
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h5 class="mb-0">Addresses</h5></ng-template>
    <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex, numquam praesentium ad impedit accusamus nostrum vero unde sed porro odit eos expedita, dignissimos sequi dolores excepturi voluptas dolore illo animi blanditiis exercitationem quas nisi quis fugiat. Blanditiis architecto natus dolores saepe, cupiditate provident obcaecati quam amet expedita enim voluptatibus voluptas ex, vitae maxime mollitia quasi reprehenderit culpa nulla veritatis officia impedit consequuntur dolore. Eos, reiciendis consequuntur nesciunt atque ratione saepe inventore numquam possimus facere earum? Iure culpa veritatis, debitis rerum repellendus distinctio impedit minima dicta, voluptatem numquam ratione excepturi cumque ad fuga nisi, molestias earum aliquid. Cupiditate, modi nemo?
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h5 class="mb-0">Sign Data</h5></ng-template>
    <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit culpa a eum necessitatibus tempore consequuntur laudantium molestiae, distinctio voluptate, quam ab, odit natus! Provident voluptatum eius, harum molestias in doloremque!
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h5 class="mb-0">Reserve Proof</h5></ng-template>
    <ng-template ngbTabContent>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos in error doloremque, soluta nulla omnis. Totam, sunt est corrupti assumenda voluptatibus voluptate libero, illum omnis amet asperiores sit, culpa fuga.
      </p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- Wallet Navbar -->
<div class="col-2">
    <div class="nav flex-column nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" routerLinkActive="active" id="wallet-history-tab" [routerLink]="['./history']" role="tab">History</a>
      <a class="nav-link" routerLinkActive="active" id="wallet-settings-tab" [routerLink]="['./settings']" role="tab">Settings</a>
      <a class="nav-link" routerLinkActive="active" id="wallet-advanced-tab" [routerLink]="['./advanced']" role="tab">Advanced</a>
    </div>
  </div>

<router-outlet></router-outlet>


<!-- Send Modal -->
<app-ui-modal #sendModal dialogClass="modal-dialog-centered">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Send</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="sendModal.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="Sender">Sender</label>
        <input type="text" class="form-control" id="Sender" value="Wallet name already in place">
      </div>
      
      <div class="form-group">
        <label for="recipient">Recipient</label>
        <input type="text" class="form-control" id="recipient" placeholder="Enter recipient address">
      </div>
      
      <div class="form-group">
        <label for="payment-id">Payment ID (optional)</label>
        <input type="text" class="form-control" id="payment-id" placeholder="Enter payment ID (optional)">
      </div>
      
      <div class="form-group">
        <div class="d-flex">
          <label class="pr-2" for="amount">Amount |</label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="max-amount-switch" name="max-amount-switch" [(ngModel)]="maxAmountSwitch">
            <label class="custom-control-label" for="max-amount-switch">Max</label>
          </div>
        </div>
        <div class="input-group">
          <input type="text" class="form-control autonumber" id="amount" placeholder="0" [disabled]="maxAmountSwitch">
          <div class="input-group-append">
            <span class="input-group-text">XCASH</span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="pr-4" for="priority">Priority</label>
        <div class="radio radio-primary d-inline pr-3">
          <input type="radio" name="radio-priority" id="radio-priority-high" checked>
          <label for="radio-priority-high" class="cr">High</label>
        </div>
        <div class="radio radio-primary d-inline pr-3">
          <input type="radio" name="radio-priority" id="radio-priority-medium">
          <label for="radio-priority-medium" class="cr">Medium</label>
        </div>
        <div class="radio radio-primary d-inline">
          <input type="radio" name="radio-priority" id="radio-priority-low">
          <label for="radio-priority-low" class="cr">Low</label>
        </div>
      </div>
      
      <div class="form-group">
        <label class="pr-4" for="privacy">Privacy</label>
        <div class="radio d-inline pr-3">
          <input type="radio" name="radio-privacy" id="radio-privacy-public" checked>
          <label for="radio-privacy-public" class="cr">Public</label>
        </div>
        <div class="radio d-inline">
          <input type="radio" name="radio-privacy" id="radio-privacy-private">
          <label for="radio-privacy-private" class="cr">Private</label>
        </div>
      </div>
      
    </form>    
  </div>
  
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-primary text-center" (click)="sendModal.hide();sendConfirmationModal.show()">Continue</button>
  </div>
  
</app-ui-modal>


<!-- Send Confirmation Modal -->
<app-ui-modal id="sendConfirmationModal" #sendConfirmationModal containerClick="false" dialogClass="modal-dialog-centered">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Transaction confirmation</h5>
    <!--
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="sendConfirmationModal.hide()"><span aria-hidden="true">&times;</span></button>
    -->
    
  </div>
  <div class="app-modal-body">
    
    <div class="form-group row">
      <label for="sending-amount" class="col-sm-3 col-form-label">Amount sent</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-amount" value="124,533,260 XCASH">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-recipient" class="col-sm-3 col-form-label">To</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-recipient" value="User Recipient">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-type" class="col-sm-3 col-form-label">Type</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-type" value="Private with low priority">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-fees" class="col-sm-3 col-form-label">Fees</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-fees" value="533,260 XCASH">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-total" class="col-sm-3 col-form-label">Total</label>
      
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-total" value="125,066,520 XCASH">
      </div>
    </div>
    <small id="total-sent-help" class="form-text text-muted">The recipient will receive the amount sent and you will be charged the total.</small>
    
  </div>
  
  <div class="app-modal-footer" >
    <div *ngIf="!sendConfirmationLoading">
      <button class="btn btn-danger text-center" (click)="sendConfirmationModal.hide();">Cancel</button>
      <button class="btn btn-secondary text-center" (click)="sendConfirmationModal.hide(); sendModal.show()">Modify</button>
      <button type="submit" class="btn btn-success text-center" (click)="simulateLoadingThenHide()">
        Confirm & Send
      </button>
    </div>
    <div *ngIf="sendConfirmationLoading">
      <button type="submit" class="btn btn-success text-center">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Sending...
      </button>
    </div>
  </div>
  
</app-ui-modal>