<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <em class="feather icon-unlock auth-icon"></em>
        </div>
        <h3 class="mb-4">Continue Session</h3>
        <button class="btn btn-primary mt-4 mb-4" (click)="login()">Continue</button>
      </div>
    </div>
  </div>
</div>
