<div class="row">
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Area Chart" [options]="false">
      <div echarts [options]="lineBasicOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Area Chart" [options]="false">
      <div echarts [options]="lineAreaOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Bar [ Basic Column ] Chart" [options]="false">
      <div echarts [options]="barBasicColumnOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Bar [ Basic Bar ] Chart" [options]="false">
      <div echarts [options]="barBasicBarOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Pie [ Basic Column ] Chart" [options]="false">
      <div echarts [options]="pieBasicColumnOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Pie [ Doughnut ] Chart" [options]="false">
      <div echarts [options]="pieDoughnutOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Pie [ Doughnut ] Chart" [options]="false">
      <div echarts [options]="pieTimelineOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Gauge Chart" [options]="false">
      <div echarts [options]="gaugeOption" [autoResize]="true" [style.height]="'300px'"></div>
    </app-card>
  </div>
</div>
