<div class="row">
  <!-- Total Balance -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h3>Total Balance</h3>
          </div>
          
          <div class="col-4 text-right">
            <button type="button" class="btn btn-primary btn-lg" (click)="createWalletModal1.show();"><i class="feather icon-plus-circle"></i>Create Wallet</button>
            <button type="button" class="btn btn-primary btn-lg" (click)="importWalletModal1.show();"><i class="feather icon-download"></i>Import Wallet</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  
  <!-- Wallet cards -->
  <div *ngFor="let wallet of walletsList" class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h4><a [routerLink]="['./wallet']">{{ wallet.name }}</a></h4>
        <div class="card-header-right">
          <div class="btn-group card-option dropdown" ngbDropdown>
            <button type="button" class="btn dropdown-toggle btn-icon" ngbDropdownToggle>
              <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <li class="dropdown-item reload-card" (click)="renameWalletModal.show()"><a href="javascript:"><i class="feather icon-edit"></i> Rename</a></li>
              <li class="dropdown-item close-card" (click)="deleteWalletModal.show()"><a href="javascript:"><i class="feather icon-trash"></i> Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a [routerLink]="['./wallet']"  class="card-body">
        
        <h5>{{ wallet.address }}</h5>
        <h5>{{ wallet.balance }} XCASH</h5>
        <small id="amount-help" class="form-text text-muted">Amount (since last refresh).</small>
        
      </a>
    </div>
  </div>
  
</div>


<!-- Create new wallet serie of modals -->
<!-- These button are only for debugging purposes, please respect the modal sequence -->
<h4>Create wallet debug buttons</h4>
<button class="btn btn-primary" (click)="createWalletModal1.show()">create 1</button>
<button class="btn btn-primary" (click)="createWalletModal2.show()">create 2</button>
<button class="btn btn-primary" (click)="createWalletModal3.show()">create 3</button>
<button class="btn btn-primary" (click)="createWalletModal4.show()">create 4</button>

<!-- Create new wallet modal 1/4 - Name and password -->
<app-ui-modal #createWalletModal1 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal1.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="wallet-name">Name</label>
        <input type="text" class="form-control" id="wallet-name" placeholder="Enter wallet name">
        <small id="wallet-name-help" class="form-text text-muted">This name can be changed later.</small>
      </div>
      
      <div class="form-group">
        <label for="wallet-password">Password</label>
        <input type="password" class="form-control" id="wallet-password" placeholder="Enter a password">
      </div>
      <div class="form-group">
        <label for="wallet-password-confirmation">Confirm password</label>
        <input type="password" class="form-control" id="wallet-password-confirmation" placeholder="Please confirm the password">
        <small id="wallet-password-help" class="form-text text-muted">This password is used to encrypt the private key and can be changed later.</small>
      </div>
    </form>
    
  </div>
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-primary text-center" (click)="createWalletModal1.hide(); createWalletModal2.show()">Continue</button>
  </div>
</app-ui-modal>


<!-- Create new wallet modal 2/4 - mnemonic seed -->
<app-ui-modal #createWalletModal2 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal2.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <div class="row">
          <label class="col-6 text-left" for="mnemonic-seed">Mnemonic seed</label>
          <div class="col-6 text-right">
            <button class="btn btn-icon btn-secondary" type="button" (click)="copySeedToClipboard()"><i class="feather icon-copy"></i><span [hidden]="!seedCopiedToClipboard" class="badge badge-success">Copied!</span></button>
            
          </div>
        </div>
        <div class="px-3">
          <div class="row">
            <div *ngFor="let word of exampleSeed; let i=index" class="form-group col-3 px-2 mb-0">
              <label class="col-form-label pb-0">{{ i + 1 }}</label>
              <input type="text" readonly class="form-control-plaintext text-monospace pt-1" [value]="word">
              <hr class="mt-0 mb-2">
            </div>
          </div>
        </div>
        <small id="mnemonic-seed-help" class="form-text text-danger">This seed stores all the information to retrieve your private key (thus your wallet). Please keep it private and secure. For example, write it on a piece of paper and keep it secret.</small>
      </div>
    </form>    
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-secondary text-center" (click)="createWalletModal2.hide(); createWalletModal1.show()">Back</button>
    <button type="submit" class="btn btn-primary text-center" (click)="createWalletModal2.hide(); confirmSeedRandomWords(exampleSeed, this.NUMBER_SEED_WORDS_TO_CONFIRM);createWalletModal3.show()">Continue</button>
  </div>
</app-ui-modal>


<!-- Create new wallet modal 3/4 - mnemonic seed confirmation -->
<app-ui-modal #createWalletModal3 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal3.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="mnemonic-seed">Mnemonic seed confirmation</label>
        <div class="font-weight-bold text-center mb-2">Please enter the missing words.</div>
        <div *ngIf="wordsToConfirm === undefined" class="font-weight-bold text-center mb-2 text-danger">Please click on back and generate the random confirmation array</div>
        <div class="px-3">
          <div class="row">
            <div *ngFor="let word of exampleSeed; let i=index" class="form-group col-3 px-2 mb-0">
              <label class="col-form-label pb-0">{{ i + 1 }}</label>
              <input *ngIf="wordsToConfirm !== undefined && wordsToConfirm[i]" type="text" class="form-control-plaintext text-monospace pt-1">
              <input *ngIf="wordsToConfirm !== undefined && !wordsToConfirm[i]" type="text" readonly class="form-control-plaintext text-monospace text-muted pt-1" [value]="word">
              <hr class="mt-0 mb-2">
            </div>
          </div>
        </div>
      </div>
    </form>    
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-secondary text-center" (click)="createWalletModal3.hide(); createWalletModal2.show()">Back</button>
    <button type="submit" class="btn btn-primary text-center" (click)="createWalletModal3.hide(); createWalletModal4.show()">Confirm & continue</button>
  </div>
</app-ui-modal>


<!-- Create new wallet modal 4/4 - recap and confirmation -->
<app-ui-modal #createWalletModal4 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal4.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <div class="form-group row">
      <label for="wallet-name-recap" class="col-sm-3 col-form-label">Wallet name</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="wallet-name-recap" value="MySalary">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="public-address-recap" class="col-sm-3 col-form-label">Public address</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="public-address-recap" value="XCA1d23js39JDj3Nd...zXi2jZ">
      </div>
    </div>
    
  </div>
  
  <div class="app-modal-footer">
    <div *ngIf="!walletCreationConfirmationLoading">
      <button class="btn btn-secondary text-center" (click)="createWalletModal4.hide(); createWalletModal3.show()">Back</button>
      <button type="submit" class="btn btn-success text-center" (click)="simulateLoadingThenHide(createWalletModal4, 1000, 'walletCreationConfirmationLoading')">Confirm & Create wallet</button>
    </div>
    
    <div *ngIf="walletCreationConfirmationLoading">
      <button type="submit" class="btn btn-success text-center">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Creating wallet...
      </button>
    </div>
  </div>
</app-ui-modal>


<!-- import wallet serie of modals -->
<!-- These button are only for debugging purposes, please respect the modal sequence -->
<h4>Import wallet debug buttons</h4>
<button class="btn btn-primary" (click)="importWalletModal1.show()">import 1</button>
<button class="btn btn-primary" (click)="importWalletModal2.show()">import 2</button>

<!-- import wallet modal 1/2 - Choose way of import  -->
<app-ui-modal #importWalletModal1 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Import wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="importWalletModal1.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <div class="pb-3">
      <ngb-tabset type='pills' justify='center'>
        
        <ngb-tab title="Mnemonic seed">
          <ng-template ngbTabContent>
            <div class="form-group">
              <label for="import-mnemonic-seed">Mnemonic seed</label>
              <textarea style="resize: none;" class="form-control text-monospace" id="import-mnemonic-seed" rows="4" placeholder="Enter your mnemonic seed"></textarea>
              <small id="import-mnemonic-seed-help" class="form-text text-muted">Enter the 27 words of your mnemonic seed separated by space.</small>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Private key">
          <ng-template ngbTabContent >
            <div class="form-group">
              <label for="import-private-key">Private key restore</label>
              <textarea style="resize: none;" class="form-control text-monospace" id="import-private-key" rows="3" placeholder="Enter your private send key"></textarea>
              <small id="import-private-key-help" class="form-text text-muted">Help about this step.</small>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Key file">
          <ng-template ngbTabContent>
            <div class="custom-file">
              <input type="file" class="custom-file-input" i d="validatedCustomFile" required>
              <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
              <small id="import-private-key-help" class="form-text text-muted">Help about this step.</small>
            </div>
          </ng-template>
        </ngb-tab>
        
      </ngb-tabset> 
    </div>
  </div>
  
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-primary text-center" (click)="importWalletModal1.hide(); importWalletModal2.show()">Continue</button>
  </div>
</app-ui-modal>

<!-- import wallet modal 2/2 - name and password -->
<app-ui-modal #importWalletModal2 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Import wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="importWalletModal2.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="import-wallet-name">Name</label>
        <input type="text" class="form-control" id="import-wallet-name" placeholder="Enter wallet name">
        <small id="import-wallet-name-help" class="form-text text-muted">This name can be changed later.</small>
      </div>
      
      <div class="form-group">
        <label for="import-wallet-password">Password</label>
        <input type="password" class="form-control" id="import-wallet-password" placeholder="Enter a password">
        
      </div>
      
      <div class="form-group">
        <label for="import-wallet-password-confirmation">Confirm password</label>
        <input type="password" class="form-control" id="import-wallet-password-confirmation" placeholder="Please confirm the password">
        <small id="import-wallet-password-help" class="form-text text-muted">This password is used to encrypt the private key and can be changed later.</small>
      </div>
      
    </form>    
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-secondary text-center" (click)="importWalletModal2.hide(); importWalletModal1.show()">Back</button>
    <button type="submit" class="btn btn-success text-center" (click)="importWalletModal2.hide()">Confirm & import</button>
  </div>
</app-ui-modal>


<!-- delete wallet serie of modals -->
<!-- These button are only for debugging purposes, please respect the modal sequence -->
<h4>Delete wallet debug button</h4>
<button class="btn btn-primary" (click)="deleteWalletModal.show()">delete</button>


<!-- Delete wallet modal -->
<app-delete-wallet-modal #deleteWalletModal></app-delete-wallet-modal>


<!-- Rename wallet modal -->
<app-rename-wallet-modal #renameWalletModal></app-rename-wallet-modal>