<app-card cardTitle="Right Nav Wizard"  [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols" navBarLocation="right">
    <wizard-step stepTitle="Profile" navigationSymbol="1">
      <div class="row">
        <div class="col-sm-12">
          <h5>Profile Title</h5>
          <hr>
          <h6>Sub title 1</h6>
          <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text.</p>
          <h6 class="mt-3">Sub title 2</h6>
          <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
          </div>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Address" navigationSymbol="2">
      <div class="row">
        <div class="col-sm-12">
          <h5>Address Title</h5>
          <hr>
          <h6>Sub title 1</h6>
          <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text.</p>
          <h6 class="mt-3">Sub title 2</h6>
          <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
            <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
          </div>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Finished" navigationSymbol="3">
      <div class="row">
        <div class="col-sm-12">
          <h5>Finished Title</h5>
          <hr>
          <h6>Sub title 1</h6>
          <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text.</p>
          <h6 class="mt-3">Sub title 2</h6>
          <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
            <button type="button" class="btn btn-success btn-sm" resetWizard>Finished</button>
          </div>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>
