<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Variant of Colors" [options]="false">
      <div data-label="20%" class="radial-bar radial-bar-20 radial-bar-lg radial-bar-primary m-r-5"></div>
      <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-lg radial-bar-success m-r-5"></div>
      <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-lg radial-bar-info m-r-5"></div>
      <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger m-r-5"></div>
      <div data-label="60%" class="radial-bar radial-bar-60 radial-bar-lg radial-bar-warning m-r-5"></div>
      <div data-label="10%" class="radial-bar radial-bar-10 radial-bar-lg"></div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Different Size" [options]="false">
      <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg m-r-5"></div>
      <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-sm m-r-5"></div>
      <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-xs"></div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Radial With Images" [options]="false">
      <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger m-r-5">
        <img src="assets/images/user/avatar-2.jpg" alt="User-Image">
      </div>
      <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-sm radial-bar-warning m-r-5">
        <img src="assets/images/user/avatar-2.jpg" alt="User-Image">
      </div>
      <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-xs radial-bar-success m-r-5">
        <img src="assets/images/user/avatar-2.jpg" alt="User-Image">
      </div>
    </app-card>
  </div>
</div>
