<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Gallery Masonry" [options]="false" blockClass="gallery-masonry">
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-1.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-3.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-5.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-6.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-7.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-8.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Gallery with Description" [options]="false" blockClass="gallery-masonry">
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-1.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-3.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-5.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-6.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-7.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-8.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-2.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/gallery-grid/masonry-4.jpg" alt="Card image">
          <div class="card-block">
            <h5 class="job-card-desc">Job Description</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="job-meta-data mb-1"><i class="fas fa-map-marker-alt"></i>washington</div>
            <div class="job-meta-data"><i class="far fa-handshake"></i>10 Years</div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
