<div class="d-flex justify-content-between">
  <div>
    <h6>Remote node</h6>
    <p class="text-muted mb-0">Choose the right connection node.</p>
  </div>
  <div>
    <div class="input-group">
      <select class="custom-select" id="inputGroupSelect04" (change)="onChange($event)">
          <option [selected]='remoteNode=="Custom node"'>Custom node</option>
        <option [selected]='remoteNode=="USSEED1.X-CASH.ORG:18281"'>USSEED1.X-CASH.ORG:18281</option>
        <option [selected]='remoteNode=="USSEED2.X-CASH.ORG:18281"'>USSEED2.X-CASH.ORG:18281</option>
        <option [selected]='remoteNode=="EUSEED1.X-CASH.ORG:18281"'>EUSEED1.X-CASH.ORG:18281</option>
        <option [selected]='remoteNode=="EUSEED3.X-CASH.ORG:18281"'>EUSEED3.X-CASH.ORG:18281</option>
        <option [selected]='remoteNode=="ASIASEED2.X-CASH.ORG:18281"'>ASIASEED2.X-CASH.ORG:18281</option>        
      </select>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="get_best_remote_node();">Choose best</button>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Custom node</h6>
    <p class="text-muted mb-0">Choose a custom node to connect to (not recommended).</p>
  </div>
  <div>
    <input type="text" class="form-control" placeholder="Enter custom node" #custom_remote_node>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Status info</h6>
    <p class="text-muted mb-0">Block height: {{ blockHeight }}</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary m-0"><i class="feather icon-refresh-ccw"></i>Refresh</button>
  </div>
</div>
