<div class="d-flex justify-content-between">
  <div>
    <h6>Remote node</h6>
    <p class="text-muted mb-0">Choose the right connection node.</p>
  </div>
  <div>
    <div class="input-group">
      <div ngbDropdown class="d-inline-block" placement="bottom-right">
        <button class="btn btn-outline-primary m-0" id="dropdownTimeInactivity" ngbDropdownToggle>{{ remoteNode }}</button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTimeInactivity">
          <button ngbDropdownItem (click)="updateremotenode('USSEED1.X-CASH.ORG:18281');">USSEED1.X-CASH.ORG:18281</button>
          <button ngbDropdownItem (click)="updateremotenode('USSEED2.X-CASH.ORG:18281');">USSEED2.X-CASH.ORG:18281</button>
          <button ngbDropdownItem (click)="updateremotenode('EUSEED1.X-CASH.ORG:18281');">EUSEED1.X-CASH.ORG:18281</button>
          <button ngbDropdownItem (click)="updateremotenode('EUSEED3.X-CASH.ORG:18281');">EUSEED3.X-CASH.ORG:18281</button>
          <button ngbDropdownItem (click)="updateremotenode('ASIASEED2.X-CASH.ORG:18281');">ASIASEED2.X-CASH.ORG:18281</button>
        </div>
      </div>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="get_best_remote_node();">Choose best</button>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Custom node</h6>
    <p class="text-muted mb-0">Choose a custom node to connect to (not recommended).</p>
  </div>
  <div>
    <input type="text" class="form-control" placeholder="Enter custom node" #custom_remote_node>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Status info</h6>
    <p class="text-muted mb-0">Block height: {{ blockHeight }}</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary m-0"><i class="feather icon-refresh-ccw"></i>Refresh</button>
  </div>
</div>
