<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Alerts">
      <button type="button" class="btn btn-primary" (click)="basicSwal()">Basic</button>
      <button type="button" class="btn btn-success" (click)="successSwal()">Success</button>
      <button type="button" class="btn btn-warning" (click)="warningSwal()">warning</button>
      <button type="button" class="btn btn-danger" (click)="dangerSwal()">error</button>
      <button type="button" class="btn btn-info" (click)="infoSwal()">info</button>
      <button type="button" class="btn btn-primary" (click)="confirmAlert()">Success or Cancel</button>
      <button type="button" class="btn btn-primary" (click)="promptAlert()">Prompt</button>
      <button type="button" class="btn btn-primary" (click)="ajaxAlert()">Ajax</button>
    </app-card>
  </div>
</div>
