<!-- Create new wallet modal 1/4 - name and password -->
<!-- This operation is shared between create and import modal and has its own component -->
<app-wallet-name-password-modal #createWalletModal1 modalTitle="Create new wallet" createOrImport="create" (onSubmit)="onSubmitNameAndPasswordModal($event)"></app-wallet-name-password-modal>

<!-- Create new wallet modal 2/4 - mnemonic seed -->
<app-ui-modal #createWalletModal2 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
      
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal2.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">

    <form>
      <div class="form-group">
        <div class="row">
          <label class="col-6 text-left" for="mnemonic-seed">Mnemonic seed</label>
          <div class="col-6 text-right">
            <button class="btn btn-icon btn-secondary" type="button" (click)="copySeedToClipboard()" ngxClipboard [cbContent]="exampleSeed.join(' ')"><i class="feather icon-copy"></i><span [hidden]="!seedCopiedToClipboard" class="badge badge-success">Copied!</span></button>
          </div>
        </div>
        <div class="px-3">
          <div class="row">
            <div *ngFor="let word of exampleSeed; let i=index" class="form-group col-3 px-2 mb-0">
              <label class="col-form-label pb-0">{{ i + 1 }}</label>
              <input type="text" readonly class="form-control-plaintext text-monospace pt-1" [value]="word">
              <hr class="mt-0 mb-2">
            </div>
          </div>
        </div>
        <small id="mnemonic-seed-help" class="form-text text-danger">This seed stores all the information to retrieve your private key (thus your wallet). Please keep it private and secure. For example, write it on a piece of paper and keep it secret.</small>
      </div>
    </form>    
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-secondary text-center" (click)="createWalletModal2.hide(); createWalletModal1.show()">Back</button>
    <button type="submit" class="btn btn-primary text-center" (click)="seedConfirmationPreparation(); createWalletModal2.hide();createWalletModal3.show()">Continue</button>
  </div>
</app-ui-modal>


<!-- Create new wallet modal 3/4 - mnemonic seed confirmation -->
<app-ui-modal #createWalletModal3 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal3.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="mnemonic-seed">Mnemonic seed confirmation</label>
        <div class="font-weight-bold text-center mb-2">Please enter the missing words.</div>
        <div *ngIf="wordsToConfirm === undefined" class="font-weight-bold text-center mb-2 text-danger">Please click on back and generate the random confirmation array</div>
        <div class="px-3">
          <form id="seedWordsConfirmationForm" class="row" (ngSubmit)="onSubmitMnemonicSeedConfirmationForm()">
            <div *ngFor="let word of exampleSeed; let i=index" class="form-group col-3 px-2 mb-0">
              <label class="col-form-label pb-0">{{ i + 1 }}</label>
              <input *ngIf="wordsToConfirm !== undefined && wordsToConfirm[i]" type="text" class="form-control text-monospace pt-1" [formControl]="seedWordsConfirmationForm.controls[i]" [ngClass]="{'is-invalid': (seedWordsConfirmationForm.controls[i].dirty || seedWordsConfirmationForm.controls[i].touched) && seedWordsConfirmationForm.controls[i].invalid, 'is-valid': (seedWordsConfirmationForm.controls[i].dirty || seedWordsConfirmationForm.controls[i].touched) && !seedWordsConfirmationForm.controls[i].invalid}">
              <div *ngIf="wordsToConfirm !== undefined && !wordsToConfirm[i]">
                <span class="form-control-plaintext text-monospace text-muted pt-1">{{word}}</span>
                <hr class="mt-0 mb-2">
              </div>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-secondary text-center" (click)="createWalletModal3.hide(); createWalletModal2.show()">Back</button>
    <button form="seedWordsConfirmationForm" type="submit" class="btn btn-primary text-center">Confirm & continue</button>
  </div>
</app-ui-modal>


<!-- Create new wallet modal 4/4 - recap and confirmation -->
<app-ui-modal #createWalletModal4 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createWalletModal4.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <div class="form-group row">
      <label for="wallet-name-recap" class="col-sm-3 col-form-label">Wallet name</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="wallet-name-recap" [value]="WalletName">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="public-address-recap" class="col-sm-3 col-form-label">Public address</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="public-address-recap" [value]="publicAddress">
      </div>
    </div>
    
  </div>
  
  <div class="app-modal-footer">
    <div *ngIf="!walletCreationConfirmationLoading">
      <button class="btn btn-secondary text-center" (click)="createWalletModal4.hide(); createWalletModal3.show()">Back</button>
      <button type="submit" class="btn btn-success text-center" (click)="simulateLoadingThenHide(createWalletModal4, 1000, 'walletCreationConfirmationLoading')">Confirm & Create wallet</button>
    </div>
    
    <div *ngIf="walletCreationConfirmationLoading">
      <button type="submit" class="btn btn-success text-center">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Creating wallet...
      </button>
    </div>
  </div>
</app-ui-modal>

<app-ui-modal #createWalletModalError dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create new wallet</h5>
    
  </div>
  <div class="app-modal-body">
    
    {{data}}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
  </div>
  
  <div class="app-modal-footer">
   
  </div>
</app-ui-modal>