<div class="card">
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-8">
        <!-- Wallet Name -->
        <h3>My Wallet Name</h3>
        
        <!-- Public address -->
        <div class="input-group my-3">
          <input type="text" class="form-control" value="XCA1r7VKaXa0G1dibca68D09MeqK7e4FyVIypXJ7CafJt8IbGNtFYkhcS1dWAzqo8ecQJndKtoinC5Rmj3r32HYHFtJn9M6dTQ" aria-label="Wallet's public key" aria-describedby="public-key" readonly>
          <div class="input-group-append">
            <button class="btn btn-icon btn-secondary" type="button"><i class="feather icon-copy"></i></button>
            <button class="btn btn-icon btn-primary" type="button"><i class="fas fa-qrcode"></i></button>
          </div>
        </div>
        
        <!-- Balance in XCASH, USD and SEND button-->
        
        <div class="d-flex align-items-end">
          <h4 class="mb-0 mr-2">128,283,370 XCASH</h4>
          <span>USD 36,23</span>
        </div>
        
      </div>
      
      <!-- Wallet basic functionnalities navbar -->
      <div class="col-2 text-center">
        <button class="btn btn-success mr-0 px-4" type="button" (click)="sendModal.show()"><i style="transform: scaleX(-1);" class="fas fa-reply"></i> Send</button>
        <button class="btn btn-primary mr-0" type="button"><i class="feather icon-edit"></i> Rename</button>
        <button class="btn btn-danger mr-0" type="button" (click) ="deleteWalletModal.show()"><i class="feather icon-trash-2"></i> Delete</button>
      </div>
      
      
    </div>
    
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./transactions']" routerLinkActive="active" id="transactions-tab">Transactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./addresses']" routerLinkActive="active" id="addresses-tab">Addresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./sign-data']" routerLinkActive="active" id="sign-data-tab">Sign Data</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['./reserve-proof']" routerLinkActive="active" id="reserve-proof-tab">Reserve Proof</a>
    </li>
</ul>
<div class="tab-content" id="router-tab">
    <router-outlet></router-outlet>
</div>


<!-- Wallet Navbar -->
<!--
  <div class="col-2">
    <div class="nav flex-column nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" routerLinkActive="active" id="wallet-history-tab" [routerLink]="['./history']" role="tab">History</a>
      <a class="nav-link" routerLinkActive="active" id="wallet-settings-tab" [routerLink]="['./settings']" role="tab">Settings</a>
      <a class="nav-link" routerLinkActive="active" id="wallet-advanced-tab" [routerLink]="['./advanced']" role="tab">Advanced</a>
    </div>
  </div>
  
  <router-outlet></router-outlet>
-->


<!-- Send Modal -->
<app-ui-modal #sendModal dialogClass="modal-dialog-centered">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Send</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="sendModal.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="Sender">Sender</label>
        <input type="text" class="form-control" id="Sender" value="Wallet name already in place">
      </div>
      
      <div class="form-group">
        <label for="recipient">Recipient</label>
        <input type="text" class="form-control" id="recipient" placeholder="Enter recipient address">
      </div>
      
      <div class="form-group">
        <label for="payment-id">Payment ID (optional)</label>
        <input type="text" class="form-control" id="payment-id" placeholder="Enter payment ID (optional)">
      </div>
      
      <div class="form-group">
        <div class="d-flex">
          <label class="pr-2" for="amount">Amount |</label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="max-amount-switch" name="max-amount-switch" [(ngModel)]="maxAmountSwitch">
            <label class="custom-control-label" for="max-amount-switch">Max</label>
          </div>
        </div>
        <div class="input-group">
          <input type="text" class="form-control autonumber" id="amount" placeholder="0" [disabled]="maxAmountSwitch">
          <div class="input-group-append">
            <span class="input-group-text">XCASH</span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="pr-4" for="priority">Priority</label>
        <div class="radio radio-primary d-inline pr-3">
          <input type="radio" name="radio-priority" id="radio-priority-high" checked>
          <label for="radio-priority-high" class="cr">High</label>
        </div>
        <div class="radio radio-primary d-inline pr-3">
          <input type="radio" name="radio-priority" id="radio-priority-medium">
          <label for="radio-priority-medium" class="cr">Medium</label>
        </div>
        <div class="radio radio-primary d-inline">
          <input type="radio" name="radio-priority" id="radio-priority-low">
          <label for="radio-priority-low" class="cr">Low</label>
        </div>
      </div>
      
      <div class="form-group">
        <label class="pr-4" for="privacy">Privacy</label>
        <div class="radio d-inline pr-3">
          <input type="radio" name="radio-privacy" id="radio-privacy-public" checked>
          <label for="radio-privacy-public" class="cr">Public</label>
        </div>
        <div class="radio d-inline">
          <input type="radio" name="radio-privacy" id="radio-privacy-private">
          <label for="radio-privacy-private" class="cr">Private</label>
        </div>
      </div>
      
    </form>    
  </div>
  
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-primary text-center" (click)="sendModal.hide();sendConfirmationModal.show()">Continue</button>
  </div>
  
</app-ui-modal>


<!-- Send Confirmation Modal -->
<app-ui-modal id="sendConfirmationModal" #sendConfirmationModal containerClick="false" dialogClass="modal-dialog-centered">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Transaction confirmation</h5>
    <!--
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="sendConfirmationModal.hide()"><span aria-hidden="true">&times;</span></button>
    -->
    
  </div>
  <div class="app-modal-body">
    
    <div class="form-group row">
      <label for="sending-amount" class="col-sm-3 col-form-label">Amount sent</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-amount" value="124,533,260 XCASH">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-recipient" class="col-sm-3 col-form-label">To</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-recipient" value="User Recipient">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-type" class="col-sm-3 col-form-label">Type</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-type" value="Private with low priority">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-fees" class="col-sm-3 col-form-label">Fees</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-fees" value="533,260 XCASH">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="sending-total" class="col-sm-3 col-form-label">Total</label>
      
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="sending-total" value="125,066,520 XCASH">
      </div>
    </div>
    <small id="total-sent-help" class="form-text text-muted">The recipient will receive the amount sent and you will be charged the total.</small>
    
  </div>
  
  <div class="app-modal-footer" >
    <div *ngIf="!sendConfirmationLoading">
      <button class="btn btn-danger text-center" (click)="sendConfirmationModal.hide();">Cancel</button>
      <button class="btn btn-secondary text-center" (click)="sendConfirmationModal.hide(); sendModal.show()">Modify</button>
      <button type="submit" class="btn btn-success text-center" (click)="simulateLoadingThenHide(sendConfirmationModal, 1500, 'sendConfirmationLoading')">
        Confirm & Send
      </button>
    </div>
    <div *ngIf="sendConfirmationLoading">
      <button type="submit" class="btn btn-success text-center">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Sending...
      </button>
    </div>
  </div>
  
</app-ui-modal>


<!-- Delete wallet modals -->
<!-- This is a shared component -->
<app-delete-wallet-modal #deleteWalletModal></app-delete-wallet-modal>