
<div class="table-responsive">
  <table datatable [hidden]='hide' [dtOptions]="contactsTableOptions" [dtTrigger]='dtTrigger' class="custom-table custom-table-striped custom-table-hover" style="width:100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of fakeContacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td container="body" placement="left" ngbTooltip="{{contact.address}}">
          {{ contact.address }}
        </td>
        <td>
          <button type="button" class="btn btn-icon btn-outline-secondary mb-0" ngbTooltip="Copied!"
          triggers="manual" #addrCopyTooltip="ngbTooltip" (click)="toggleAddrCopyTooltip(addrCopyTooltip)" [autoClose]=false placement="top" ngxClipboard [cbContent]="contact.address"><i class="feather icon-copy"></i></button>

          <button type="button" class="btn btn-icon btn-outline-primary mb-0"><i class="feather icon-edit-1"></i></button>

          <button type="button" class="btn btn-icon btn-outline-success m-0"><i style="transform: scaleX(-1);" class="fas fa-reply"></i></button>
          <!--
          <a href="" ></a>
          -->
        </td>
      </tr>
    </tbody>
  </table>
</div>