<div class="row">

    <!-- [ card range1 ] start -->
 
    <div class="col-md-6 col-xl-12">
        <h5>Change Password</h5>
        <app-alert type="primary" *ngIf="settings === true">The Password Has Been Changed Successfully</app-alert>
        <hr>
        <div class="card">
          <div class="card-body">
              <div class="col-md-12">
              <div class="input-group">
                 <input type="text" class="form-control" name="validation-required_change_password_current_password" placeholder="Current Password" [ngClass]="{'is-invalid': !requiredInput_change_password_current_password.valid && requiredInput_change_password_current_password.pristine === false}" #requiredInput_change_password_current_password="ngModel" [maxlength]="variables_and_functions_service.text_settings_length" [pattern]="variables_and_functions_service.text_settings" required [(ngModel)]="data.current_password">
                 <label *ngIf="!requiredInput_change_password_current_password.valid && (requiredInput_change_password_current_password.pristine === false)" id="validation-required-error_change_password_current_password" class="error jquery-validation-error small form-text invalid-feedback">Can not include:<br>Space<br>Special Characters<br>Non Latin Characters</label>
                 </div>
              </div>

              <br><br>

              <div class="col-md-12">
                  <div class="input-group">
                     <input type="text" class="form-control" name="validation-required_change_password_new_password" placeholder="New Password" [ngClass]="{'is-invalid': !requiredInput_change_password_new_password.valid && requiredInput_change_password_new_password.pristine === false}" #requiredInput_change_password_new_password="ngModel" [maxlength]="variables_and_functions_service.text_settings_length" [pattern]="variables_and_functions_service.text_settings" required [(ngModel)]="data.new_password">
                     <label *ngIf="!requiredInput_change_password_new_password.valid && (requiredInput_change_password_new_password.pristine === false)" id="validation-required-error_change_password_new_password" class="error jquery-validation-error small form-text invalid-feedback">Can not include:<br>Space<br>Special Characters<br>Non Latin Characters</label>
                      </div>
                  </div>

                  <br><br>

                  <div class="col-md-12">
                         <input type="text" class="form-control" name="validation-required_change_password_confirm_password" placeholder="Confirm Password" [ngClass]="{'is-invalid': !requiredInput_change_password_confirm_password.valid && requiredInput_change_password_confirm_password.pristine === false}" #requiredInput_change_password_confirm_password="ngModel" [maxlength]="variables_and_functions_service.text_settings_length" [pattern]="variables_and_functions_service.text_settings" required [(ngModel)]="data.confirm_password">
                         <label *ngIf="!requiredInput_change_password_confirm_password.valid && (requiredInput_change_password_confirm_password.pristine === false)" id="validation-required-error_change_password_confirm_password" class="error jquery-validation-error small form-text invalid-feedback">Can not include:<br>Space<br>Special Characters<br>Non Latin Characters</label>
                      </div>

                      <br><br>
                      
                        <button class="btn btn-primary" (click)="change_password()">Change Password</button>
  
          </div>
        </div>
       </div>
     <!-- [ card range1 ] end -->