<div class="row">
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Area Chart" [options]="false">
      <google-chart [data]="areaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Stacking Area Chart" [options]="false">
      <google-chart [data]="stackingAreaChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Bar Chart" [options]="false">
      <google-chart [data]="barChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Bubble Chart" [options]="false">
      <google-chart [data]="bubbleChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Exploading A Slice Chart" [options]="false">
      <google-chart [data]="exploadingChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Donut Chart" [options]="false">
      <google-chart [data]="donutChartData"></google-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Combo Chart" [options]="false">
      <google-chart [data]="comboChartData"></google-chart>
    </app-card>
  </div>
</div>
