<div class="row">

  <div class="col-xl-12">


    <app-card cardTitle="Full Width Table" cardClass="code-table" blockClass="pb-0">
        <app-alert type="primary" *ngIf="settings === true">Sub Address Has Been Copied To the Clipboard Successfully</app-alert>
      <div class="table-responsive">
          <td><button type="button" class="btn btn-primary" (click)="sub_address_create_1.show()">Create</button></td>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Label</th>
              <th>Sub Address</th>
              <th>Received Funds</th>
              <th>Copy</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sub_addresses">
                <th scope="row">{{item.address_index+1 | number}}</th>
                <td>{{item.label}}</td>
                <td>{{item.address}}</td>
                <td *ngIf="item.used === true"><a href="javascript:" class="label theme-bg f-12 text-white">True</a></td>
                <td *ngIf="item.used === false"><a href="javascript:" class="label theme-bg2 f-12 text-white">False</a></td>
                <td><button type="button" class="btn btn-primary" (click)="[copyMessage(item.address), timer_data()]">Copy</button></td>
              </tr>
            </tbody>
        </table>
      </div>
    </app-card>
  </div>

  <!-- [ Modals ] start -->
  <app-ui-modal #sub_address_create_1 [containerClick]="false" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">Create Sub Address</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="sub_address_create_1.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <form #validationForm3="ngForm" class="editForm" novalidate>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="validation-required_sub_address_create_1" placeholder="Label" [ngClass]="{'is-invalid': !requiredInput_sub_address_create_1.valid && requiredInput_sub_address_create_1.pristine === false}" #requiredInput_sub_address_create_1="ngModel" [maxlength]="variables_and_functions_service.text_settings_length" [pattern]="variables_and_functions_service.text_settings" required [(ngModel)]="data">
              <label *ngIf="!requiredInput_sub_address_create_1.valid && (requiredInput_sub_address_create_1.pristine === false)" id="validation-required-error_sub_address_create_1" class="error jquery-validation-error small form-text invalid-feedback">Can not include:<br>Space<br>Special Characters<br>Non Latin Characters</label>
              </div>
              </div>
              </div>
              </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="[reset_data(), sub_address_create_1.hide()]">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="[create_sub_address(requiredInput_sub_address_create_1.value), reset_data(), sub_address_create_1.hide()]">Create Sub Address</button>
    </div>
  </app-ui-modal>
 <!-- [ Modals ] end -->
 
</div>
