<!-- Rename a wallet -->
<app-ui-modal #renameWallet>
  <div class="app-modal-header">
    
    <h5 class="modal-title">Rename wallet</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="renameWallet.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form>
      <div class="form-group">
        <label for="wallet-new-name">New wallet name</label>
        <input type="text" class="form-control" id="wallet-new-name" placeholder="Enter a new wallet name">
      </div>
    </form>
    
  </div>
  
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-primary text-center" (click)="renameWallet.hide()">Continue</button>
  </div>
</app-ui-modal>