<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-card cardClass="theme-bg bitcoin-wallet" [hidHeader]="true" [options]="false">
      <h5 class="text-white mb-2">Bitcoin Wallet</h5>
      <h2 class="text-white mb-2 f-w-300">$9,302</h2>
      <span class="text-white d-block">Ratings by Market Capitalization</span>
      <i class="fab fa-btc f-70 text-white"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardClass="theme-bg2 bitcoin-wallet" [hidHeader]="true" [options]="false">
      <h5 class="text-white mb-2">Bitcoin Wallet</h5>
      <h2 class="text-white mb-2 f-w-300">$8,101</h2>
      <span class="text-white d-block">Ratings by Market Capitalization</span>
      <i class="fas fa-dollar-sign f-70 text-white"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardClass="bg-c-blue bitcoin-wallet" [hidHeader]="true" [options]="false">
      <h5 class="text-white mb-2">Bitcoin Wallet</h5>
      <h2 class="text-white mb-2 f-w-300">$7,501</h2>
      <span class="text-white d-block">Ratings by Market Capitalization</span>
      <i class="fas fa-pound-sign f-70 text-white"></i>
    </app-card>
  </div>

  <div class="col-xl-8 col-md-12">
    <app-card cardTitle="Statistics">
      <div id="line-area2" class="lineAreaDashboard" style="height:350px;"></div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card cardTitle="Notifications" cardClass="note-bar" blockClass="p-0">
      <a href="javascript:" class="media friendlist-box">
        <div class="mr-3 photo-table">
          <i class="far fa-bell f-30"></i>
        </div>
        <div class="media-body">
          <h6>New order received</h6>
          <span class="f-12 float-right text-muted">12.56</span>
          <p class="text-muted m-0">2 unread notification</p>
        </div>
      </a>
      <a href="javascript:" class="media friendlist-box border-top">
        <div class="mr-3 photo-table">
          <i class="far fa-bell f-30"></i>
        </div>
        <div class="media-body">
          <h6>New user register</h6>
          <span class="f-12 float-right text-muted">12.36</span>
          <p class="text-muted m-0">xx messages</p>
        </div>
      </a>

      <a href="javascript:" class="media friendlist-box border-top">
        <div class="mr-3 photo-table">
          <i class="far fa-bell f-30"></i>
        </div>
        <div class="media-body">
          <h6>New order register</h6>
          <span class="f-12 float-right text-muted">11.45</span>
          <p class="text-muted m-0">2 read notification</p>
        </div>
      </a>

      <a href="javascript:" class="media friendlist-box border-top">
        <div class="mr-3 photo-table">
          <i class="far fa-bell f-30"></i>
        </div>
        <div class="media-body">
          <h6>New order prepend</h6>
          <span class="f-12 float-right text-muted">9.39</span>
          <p class="text-muted m-0">xx messages</p>
        </div>
      </a>
    </app-card>
  </div>

  <div class="col-xl-8 col-md-6">
    <app-card cardTitle="Users From United States">
      <div id="world-low" style="height:350px;"></div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Statistics</h5>
      </div>
      <div class="card-block">
        <h3 class="f-w-300">$894.39</h3>
      </div>
      <div id="Earnings-chart" style="height:300px;"></div>
    </div>
  </div>
</div>
