<div class="row">

   <!-- [ card range1 ] start -->
   <div class="col-md-6 col-xl-4">
      <div class="card table-card">
        <div class="row-table">
          <div class="col-auto theme-bg text-white p-t-50 p-b-50">
            <i class="feather icon-package f-30"></i>
          </div>
          <div class="col text-center">
            <span class="text-uppercase d-block m-b-10">Total Available Cryptonote Coins</span>
            <h3 class="f-w-300">2</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card table-card">
          <div class="row-table">
            <div class="col-auto theme-bg text-white p-t-50 p-b-50">
              <i class="feather icon-package f-30"></i>
            </div>
            <div class="col text-center">
              <span class="text-uppercase d-block m-b-10">X-CASH Wallet Version</span>
              <h3 class="f-w-300">1.0.0</h3>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6 col-xl-4">
      <div class="card table-card">
        <div class="row-table">
          <div class="col-auto theme-bg text-white p-t-50 p-b-50">
            <i class="feather icon-package f-30"></i>
          </div>
          <div class="col text-center">
            <span class="text-uppercase d-block m-b-10">Total Wallets</span>
            <h3 class="f-w-300">{{total_wallets}}</h3>
          </div>
        </div>
      </div>
    </div>    
    <!-- [ card range1 ] end -->

    <div class="col-md-6 col-xl-12"><h3 align="center">Wallets</h3></div>
    

      <!-- [ card range1 ] start -->
      <div class="col-md-6 col-xl-4">
          <div class="card filter-bar">
            <div class="card-header">
              <h5>Wallet Options</h5>
            </div>
            <div class="card-block">
              <div class="row m-t-30">
                <div class="col-6 p-r-0">
                  <a href="javascript:" class="btn btn-primary text-uppercase btn-block f-14">Create</a>
                </div>
                <div class="col-6">
                    <a href="javascript:" class="btn btn-danger text-uppercase btn-block f-14">Import</a>
                </div>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-6 col-xl-4">            
            <div class="card filter-bar">                
              <div class="card-header">
                <h5>X-CASH Wallet</h5>
                <span class="d-block m-t-5">Wallet 1</span>
              </div>
              <div class="card theme-bg2">
              <div class="card-block">
                <h3 class="f-w-300">Wallet 1</h3>
                <div class="row m-t-30">
                  <div class="col-6 p-r-0">
                    <a href="javascript:" class="btn btn-primary text-uppercase btn-block f-14">Open</a>
                  </div>
                  <div class="col-6">
                      <a href="javascript:" class="btn btn-danger text-uppercase btn-block f-14">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-6 col-xl-4">
              <div class="card filter-bar">
                <div class="card-header">
                  <h5>X-CASH Wallet</h5>
                  <span class="d-block m-t-5">Wallet 1</span>
                </div>
                <div class="card-block">
                  <h3 class="f-w-300">Wallet 1</h3>
                  <div class="row m-t-30">
                    <div class="col-6 p-r-0">
                      <a href="javascript:" class="btn btn-primary text-uppercase btn-block f-14">Open</a>
                    </div>
                    <div class="col-6">
                        <a href="javascript:" class="btn btn-danger text-uppercase btn-block f-14">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    <!-- [ card range1 ] end -->
</div>
