<div class="row">

    <!-- [ card range1 ] start -->
 
    <div class="col-md-6 col-xl-12">
        <h5>Send</h5>
        <hr>
        <div class="card">
          <div class="card-body">
              <div class="col-md-12">
              <div class="input-group">
                 <input type="text" class="form-control" name="validation-required_send_public_address" placeholder="Public, Integrated or Sub Address" [ngClass]="{'is-invalid': !requiredInput_send_public_address.valid && requiredInput_send_public_address.pristine === false}" #requiredInput_send_public_address="ngModel" [maxlength]="variables_and_functions_service.xcash_integrated_address_length" [pattern]="variables_and_functions_service.xcash_address" required [(ngModel)]="data.public_address">
                 <label *ngIf="!requiredInput_send_public_address.valid && (requiredInput_send_public_address.pristine === false)" id="validation-required-error_send_public_address" class="error jquery-validation-error small form-text invalid-feedback">Must be a public address, integrated address or sub address</label>
                  <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="import_from_address_book.show()">Import from address book</button>
                  </span>
              </div>
              </div>

              <br><br>

              <div class="col-md-12">
                  <div class="input-group">
                     <input type="text" class="form-control" name="validation-required_send_amount" placeholder="Amount" [ngClass]="{'is-invalid': !requiredInput_send_amount.valid && requiredInput_send_amount.pristine === false}" #requiredInput_send_amount="ngModel" [pattern]="variables_and_functions_service.xcash_amount" required [(ngModel)]="data.amount">
                     <label *ngIf="!requiredInput_send_amount.valid && (requiredInput_send_amount.pristine === false)" id="validation-required-error_send_amount" class="error jquery-validation-error small form-text invalid-feedback">Must be between 0.000001 and 100000000000 X-CASH</label>
                      <span class="input-group-btn">
                          <button class="btn btn-primary" (click)="data.amount = 'FULL_BALANCE'">Full Balance</button>
                      </span>
                  </div>
                  </div>

                  <br><br>

                  <div class="col-md-12">
                         <input type="text" class="form-control" name="validation-required_send_payment_id" placeholder="Payment ID (Optional)" [ngClass]="{'is-invalid': !requiredInput_send_payment_id.valid && requiredInput_send_payment_id.pristine === false}" #requiredInput_send_payment_id="ngModel" [maxlength]="variables_and_functions_service.unencrypted_payment_id_length" [pattern]="variables_and_functions_service.payment_id" [(ngModel)]="data.payment_id">
                         <label *ngIf="!requiredInput_send_payment_id.valid && (requiredInput_send_payment_id.pristine === false)" id="validation-required-error_send_payment_id" class="error jquery-validation-error small form-text invalid-feedback">Must be a 64 byte length string for an unencrypted payment id, or 16 byte length string for an encrypted payment id</label>
                      </div>

                      <br><br>

                      <div class="switch switch-primary d-inline m-r-10">
                          <input type="checkbox" id="switch-p-2" (click)="data.public_transaction_settings = !data.public_transaction_settings">
                          <label for="switch-p-2" class="cr"></label>
                        </div>
                        <label>Public Transaction</label>

                        <br><br>
                        <button class="btn btn-primary" (click)="send() === true ? send_transaction_1.show() : send_transaction_1.hide()">Send</button>
  
          </div>
        </div>
       </div>
     <!-- [ card range1 ] end -->


     <!-- [ Modals ] start -->
     <app-ui-modal #import_from_address_book [containerClick]="false" [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
          <h5 class="modal-title">Import From Address Book</h5>
          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="import_from_address_book.hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body">
            <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Import</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>data1</td>
                  <td><button type="button" class="btn btn-primary" (click)="import_from_address_book.hide()">Import</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>data2</td>
                  <td><button type="button" class="btn btn-primary" (click)="import_from_address_book.hide()">Import</button></td>
                </tr>
                </tbody>
              </table>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="import_from_address_book.hide()">Cancel</button>
        </div>
      </app-ui-modal>









      <app-ui-modal #send_transaction_1 [containerClick]="false" [dialogClass]="'modal-lg'">
          <div class="app-modal-header">
            <h5 class="modal-title">Send a Transaction - Step 1</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="send_transaction_1.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body">
              <form #validationForm="ngForm" class="editForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <h5>Confirm Transaction Details</h5>
                    </div>
                    </div>
                    </form>
          </div>
          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="[reset_data(), send_transaction_1.hide()]">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="[send_transaction_1.hide(), send_transaction_2.show()]">Send the Transaction</button>
          </div>
        </app-ui-modal>
    
    
    
        <app-ui-modal #send_transaction_2 [containerClick]="false" [dialogClass]="'modal-lg'">
          <div class="app-modal-header">
            <h5 class="modal-title">Send a Transaction - Step 2</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="send_transaction_2.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body">
              <form #validationForm2="ngForm" class="editForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" name="validation-required_send_transaction_1" placeholder="Password" #requiredInput_send_transaction_2 required>
                    </div>
                    </div>
                    </div>
                    </form>
          </div>
          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="[reset_data(), send_transaction_2.hide()]">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="verify_data('send_transaction_2',requiredInput_send_transaction_2.value) === true ? [send_transaction_2.hide(), send_transaction_3.show()] : reset_data()">Send the Transaction</button>
          </div>
        </app-ui-modal>
    
    
    
        <app-ui-modal #send_transaction_3 [containerClick]="false" [dialogClass]="'modal-lg'">
          <div class="app-modal-header">
            <h5 class="modal-title">Send a Transaction - Step 3</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="send_transaction_3.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body">
              <form #validationForm3="ngForm" class="editForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <h5>{{transaction}}</h5>
                    </div>
                    </div>
                    </form>
          </div>
          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="[reset_data(), send_transaction_3.hide()]">Close</button>
          </div>
        </app-ui-modal>
       <!-- [ Modals ] end -->    
 </div>
 