<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./general']" routerLinkActive="active" id="transactions-tab">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./connection']" routerLinkActive="active" id="sign-data-tab">Connection</a>
  </li>
  <!--<li class="nav-item">
    <a class="nav-link" [routerLink]="['./about']" routerLinkActive="active" id="addresses-tab">About</a>
  </li>-->
</ul>
<div class="tab-content" id="router-tab">
  <router-outlet></router-outlet>
</div>
