<div class="row">

    <!-- [ card range1 ] start -->
 
    <div class="col-md-6 col-xl-12">
        <h5>Verify Transaction Private Key</h5>
        <hr>
        <div class="card">
          <div class="card-body">

              <div class="col-md-12">            
                  <input type="text" class="form-control" name="validation-required_verify_transaction_private_key_transaction_hash" placeholder="Transaction Hash" [ngClass]="{'is-invalid': !requiredInput_verify_transaction_private_key_transaction_hash.valid && requiredInput_verify_transaction_private_key_transaction_hash.pristine === false}" #requiredInput_verify_transaction_private_key_transaction_hash="ngModel" [maxlength]="variables_and_functions_service.private_key_length" [pattern]="variables_and_functions_service.private_key" required [(ngModel)]="data.transaction_hash">
                  <label *ngIf="!requiredInput_verify_transaction_private_key_transaction_hash.valid && (requiredInput_verify_transaction_private_key_transaction_hash.pristine === false)" id="validation-required-error_verify_transaction_private_key_transaction_hash" class="error jquery-validation-error small form-text invalid-feedback">Must be a 64 byte length string, with only hexadecimal characters</label>
                 </div>

                  <br><br>

                  <div class="col-md-12">            
                      <input type="text" class="form-control" name="validation-required_verify_transaction_private_key_transaction_private_key" placeholder="Transaction Private Key" [ngClass]="{'is-invalid': !requiredInput_verify_transaction_private_key_transaction_private_key.valid && requiredInput_verify_transaction_private_key_transaction_private_key.pristine === false}" #requiredInput_verify_transaction_private_key_transaction_private_key="ngModel" [maxlength]="variables_and_functions_service.private_key_length" [pattern]="variables_and_functions_service.private_key" required [(ngModel)]="data.tx_private_key">
                      <label *ngIf="!requiredInput_verify_transaction_private_key_transaction_private_key.valid && (requiredInput_verify_transaction_private_key_transaction_private_key.pristine === false)" id="validation-required-error_verify_transaction_private_key_transaction_private_key" class="error jquery-validation-error small form-text invalid-feedback">Must be a 64 byte length string, with only hexadecimal characters</label>
                     </div>

                     <br><br>
                     <div class="col-md-12">            
                 <input type="text" class="form-control" name="validation-required_verify_transaction_private_key_public_address" placeholder="Public, Integrated or Sub Address" [ngClass]="{'is-invalid': !requiredInput_verify_transaction_private_key_public_address.valid && requiredInput_verify_transaction_private_key_public_address.pristine === false}" #requiredInput_verify_transaction_private_key_public_address="ngModel" [maxlength]="variables_and_functions_service.xcash_integrated_address_length" [pattern]="variables_and_functions_service.xcash_address" required [(ngModel)]="data.public_address">
                 <label *ngIf="!requiredInput_verify_transaction_private_key_public_address.valid && (requiredInput_verify_transaction_private_key_public_address.pristine === false)" id="validation-required-error_verify_transaction_private_key_public_address" class="error jquery-validation-error small form-text invalid-feedback">Must be a public address, integrated address or sub address</label>
                </div>

                      <br><br>
                        <button class="btn btn-primary" (click)="verify_tx_private_key()">Verify Transaction Private Key</button>

                        <br><br>
                        <div *ngIf="settings === true">
                            <h5>This address received {{amount | number}} X-CASH in this transaction</h5>
                        </div>
  
          </div>
        </div>
       </div>
     <!-- [ card range1 ] end -->



      <!-- [ Modals ] start -->
      <app-ui-modal #error [containerClick]="false" [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
          <h5 class="modal-title">{{error_title}}</h5>
          <button id="error" style="display: none" type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="error.show()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body">
            <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
              <div class="col-md-12" style="word-wrap: break-word;">
                  <p>{{error_message}}</p>
                  </div>
                  </div>
                  </form>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-primary" (click)="error.hide()">Close</button>
        </div>
      </app-ui-modal>
       <!-- [ Modals ] end --> 
 </div>
 