<div class="row">

   <!-- [ card range1 ] start -->
   <div class="col-md-6 col-xl-12">
      <div class="card table-card">
        <div class="row-table">
          <div class="col-auto theme-bg text-white p-t-50 p-b-50">
            <i class="feather icon-package f-30"></i>
          </div>
          <div class="col text-center">
            <span class="text-uppercase d-block m-b-10">Total X-CASH</span>
            <h3 class="f-w-300">{{total_xcash}}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- [ card range1 ] end -->

   
</div>
