<div>
<!-- <div class="col-xl-12 col-md-12"> -->
  <app-card cardTitle="Application list" cardClass="Application-list" blockClass="pb-0">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Image</th>
          <th>Application</th>
          <th>Installs</th>
          <th>Created</th>
          <th>Budget</th>
          <th>Status</th>
        </thead>
        <tbody>
        <tr>
          <td><img class="rounded-circle" style="width:50px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></td>
          <td>
            <h6 class="mb-1">Facebook</h6>
            <p class="m-0">Apple</p>
          </td>
          <td>
            <h6 class="mb-1">523.423</h6>
            <p class="text-c-green m-0">+ 84 Daily</p>
          </td>
          <td>
            <h6 class="m-b-0">Feb 11 2017</h6></td>
          <td>
            <h6 class="m-b-0">$ 16,244</h6></td>
          <td><a class="text-white label theme-bg f-12" href="javascript:">Active</a></td>
        </tr>

        <tr>
          <td><img class="rounded-circle" style="width:50px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></td>
          <td>
            <h6 class="mb-1">Twitter</h6>
            <p class="m-0">CS Form</p>
          </td>
          <td>
            <h6 class="mb-1">7.239</h6>
            <p class="text-muted m-0">+ 5 Daily</p>
          </td>
          <td>
            <h6 class="m-b-0">Jan 19 2017</h6></td>
          <td>
            <h6 class="m-b-0">$ 3,937</h6></td>
          <td><a class="label theme-bg2 f-12 text-white" href="javascript:">Not Active</a></td>
        </tr>

        <tr>
          <td><img class="rounded-circle" style="width:50px;" src="assets/images/user/avatar-3.jpg" alt="activity-user"></td>
          <td>
            <h6 class="mb-1">Instagram</h6>
            <p class="m-0">Microsoft</p>
          </td>
          <td>
            <h6 class="mb-1">5.877</h6>
            <p class="text-c-green m-0">+ 12 Daily</p>
          </td>
          <td>
            <h6 class="m-b-0">Aug 04 2017</h6></td>
          <td>
            <h6 class="m-b-0">$ 28,039</h6></td>
          <td><a class="label bg-c-blue f-12 text-white" href="javascript:">Paused</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
