<div class="row">

  <!-- [ card range1 ] start -->

  <div class="col-md-6 col-xl-12">
      <h5>Create Reserve Proof</h5>
      <app-alert type="primary" *ngIf="reserve_proof_settings === true">The Reserve Proof Has Been Copied To the Clipboard Successfully</app-alert>
      <hr>
      <div class="card">
        <div class="card-body">

          <div class="col-md-12">            
            <input type="text" class="form-control" name="validation-required_create_reserve_proof_amount" placeholder="Amount" [ngClass]="{'is-invalid': !requiredInput_create_reserve_proof_amount.valid && requiredInput_create_reserve_proof_amount.pristine === false}" #requiredInput_create_reserve_proof_amount="ngModel" [pattern]="variables_and_functions_service.xcash_reserve_proof_amount" required [(ngModel)]="data.amount">
            <label *ngIf="!requiredInput_create_reserve_proof_amount.valid && (requiredInput_create_reserve_proof_amount.pristine === false)" id="validation-required-error_create_reserve_proof_amount" class="error jquery-validation-error small form-text invalid-feedback">Must be between 0.000001 and 100000000000 X-CASH or ALL</label>
           </div>

           <br><br>
               <div class="col-md-12">            
           <input type="text" class="form-control" name="validation-required_create_reserve_proof_message" placeholder="Message (Optional)" [ngClass]="{'is-invalid': !requiredInput_create_reserve_proof_message.valid && requiredInput_create_reserve_proof_message.pristine === false}" #requiredInput_create_reserve_proof_message="ngModel" [(ngModel)]="data.message">
          </div>

                    <br><br>
                      <button class="btn btn-primary" (click)="verify_reserve_proof()">Create Reserve Proof</button>

                      <br><br>                      
                      <div *ngIf="settings === true">
                         <h5>{{reserve_proof}}</h5>
                         <br>
                         <button class="btn btn-primary" (click)="[copyMessage(reserve_proof), timer_data()]">Copy</button>
                      </div>

        </div>
      </div>
     </div>
   <!-- [ card range1 ] end -->
</div>
