<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Bar [ Basic ] Chart" [options]="false">
      <lib-highcharts-angular [Highcharts]="Highcharts" [options]="barBasicChartOptions" style="width: 100%; height: 450px; display:block"></lib-highcharts-angular>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Line [ Basic ] Chart" [options]="false">
      <lib-highcharts-angular [Highcharts]="Highcharts" [options]="lineBasicChartOptions" style="width: 100%; height: 350px; display:block"></lib-highcharts-angular>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Area [ Zoom ] Chart" [options]="false">
      <lib-highcharts-angular [Highcharts]="Highcharts" [options]="areaZoomChartOptions" style="width: 100%; height: 350px; display:block"></lib-highcharts-angular>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Pie [ Basic ] Chart" [options]="false">
      <lib-highcharts-angular [Highcharts]="Highcharts" [options]="pieBasicChartOptions" style="width: 100%; height: 350px; display:block"></lib-highcharts-angular>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Pie [ Donut ] Chart" [options]="false">
      <lib-highcharts-angular [Highcharts]="Highcharts" [options]="pieDonutChartOptions" style="width: 100%; height: 350px; display:block"></lib-highcharts-angular>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Combinations [ Column, Line & Pie ] Chart" [options]="false">
      <lib-highcharts-angular [Highcharts]="Highcharts" [options]="combinationsChartOptions" style="width: 100%; height: 450px; display:block"></lib-highcharts-angular>
    </app-card>
  </div>
</div>
