<p>
  wallet-transactions works!
</p>


<h5>Form test - Experimental work in progress</h5>

<form [formGroup]="walletForm" (ngSubmit)="onSubmit()" id="myForm">
  <div class="form-group">
    <label for="wallet-name">Name</label>
    <input type="text" class="form-control" id="wallet-name" placeholder="Enter wallet name" formControlName="name" required>
    <small id="wallet-name-help" class="form-text text-muted">This name can be changed later.</small>
  </div>
  
  <div class="form-group">
    <label for="wallet-password">Password</label>
    <input type="password" class="form-control" id="wallet-password" placeholder="Enter a password" formControlName="password">
  </div>
  
</form>

<button form="myForm" class="btn btn-primary text-center">Continue</button>



