<div class="row justify-content-between mb-2">
  <div class="col-md-3 col-4">
    <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </div>
</div>

<table mat-table matSort
[dataSource]="dataSource" multiTemplateDataRows
class="mat-elevation-z8">

<!-- Transaction Column -->
<ng-container matColumnDef="id" >
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
  <td mat-cell *matCellDef="let transaction"> {{transaction.id}} </td>
</ng-container>

<!-- Amount Column -->
<ng-container matColumnDef="amount">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
  <td mat-cell *matCellDef="let transaction"> {{transaction.amount | xcash}}</td>
</ng-container>

<!-- Recipient Column -->
<ng-container matColumnDef="Transaction ID">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID </th>
  <td mat-cell *matCellDef="let transaction"> {{transaction.txid | xcashPublicAddress:15 }} </td>
</ng-container>

<!-- Type Column -->
<ng-container matColumnDef="Transaction Type">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Type </th>
  <td mat-cell *matCellDef="let transaction"> {{transaction.transactionType}} </td>
</ng-container>

<!-- Date Column -->
<ng-container matColumnDef="date">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
  <td mat-cell *matCellDef="let transaction"> {{transaction.date | date:'medium'}} </td>
</ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let transaction" [attr.colspan]="columnsToDisplay.length">
    <div class="transaction-detail" [@detailExpand]="transaction == expandedTransaction ? 'expanded' : 'collapsed'">
      <div class="shadow-none p-3 mb-3 bg-light rounded">
        
        <div class="row">
          <label for="transaction-recipient" class="col-1 col-form-label">Transaction ID</label>
          <span class="col-11 form-control-plaintext" id="transaction-recipient">{{transaction.txid}}</span>
        </div>
        
        <div class="row">
          <label for="transaction-date" class="col-1 col-form-label">Date</label>
          <span class="col-11 form-control-plaintext" id="transaction-date">{{transaction.date | date:'full'}}</span>
        </div>
        
        <div class="row">
          <div class="col">
            <div class="row">
              <label for="transaction-type" class="col-3 col-form-label">Amount</label>
              <span class="col-9 form-control-plaintext" id="transaction-type">{{transaction.amount | xcash}}</span>
            </div>
          </div>
          
          <div class="col">
            <div class="row">
              <label for="transaction-fees" class="col-3 col-form-label">Fees</label>
              <span class="col-9 form-control-plaintext" id="transaction-fees">{{transaction.fees | xcash}}</span>
            </div>
          </div>
          
          <div class="col">
            <div class="row">
              <label for="transaction-total" class="col-3 col-form-label">Payment ID</label>
              <span class="col-9 form-control-plaintext" id="transaction-total">{{transaction.paymentid}}</span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <div class="row">
              <label for="transaction-type" class="col-3 col-form-label">Transaction Type</label>
              <span class="col-9 form-control-plaintext" id="transaction-type">{{transaction.transactionType}}</span>
            </div>
          </div>
          
          <div class="col">
            <div class="row">
              <label for="transaction-block-height" class="col-3 col-form-label">Blockheight</label>
              <span class="col-9 form-control-plaintext" id="transaction-block-height">{{transaction.blockHeight}}</span>
            </div>
          </div>
          
          <div class="py-2 col">
            <a [href]="'https://explorer.x-cash.org/Transaction?data=' + transaction.txid" target="_blank" rel="noopener noreferrer">View in transaction explorer</a>
            <br>
            <a href="javascript:void(0);" (click)="getTXKey(transaction.txid)">Get TX Key</a>
          </div>
        </div>
        
      </div>
    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
class="example-element-row"
[class.example-expanded-row]="expandedTransaction === element"
(click)="expandedTransaction = expandedTransaction === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

<app-ui-modal #TXKeyModal dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">TX Key</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="TXKeyModal.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <p style="word-wrap: break-word">{{TXKey}}</p>
  </div>
  
  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary text-center" (click)="TXKeyModal.hide()">Close</button>
  </div>
</app-ui-modal>