<p>
  wallet-transactions works!
</p>


<h5>Form test - Experimental work in progress</h5>

<form>
  <div class="form-group">
    <label for="wallet-name">Name</label>
    <input type="text" class="form-control" id="wallet-name" placeholder="Enter wallet name">
    <small id="wallet-name-help" class="form-text text-muted">This name can be changed later.</small>
  </div>
  
  <div class="form-group">
    <label for="wallet-password">Password</label>
    <input type="password" class="form-control" id="wallet-password" placeholder="Enter a password">
  </div>
  <div class="form-group">
    <label for="wallet-password-confirmation">Confirm password</label>
    <input type="password" class="form-control" id="wallet-password-confirmation" placeholder="Please confirm the password">
    <small id="wallet-password-help" class="form-text text-muted">This password is used to encrypt the private key and can be changed later.</small>
  </div>
  
</form>


<button type="submit" class="btn btn-primary text-center">Continue</button>

