<ngb-tabset>
  <ngb-tab title="Change Password">
    <ng-template ngbTabContent>
      <app-change_password></app-change_password>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Create integrated address">
    <ng-template ngbTabContent>
      <app-create_integrated_address></app-create_integrated_address>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Create reserve proof">
    <ng-template ngbTabContent>
      <app-create_reserve_proof></app-create_reserve_proof>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Create sub address">
    <ng-template ngbTabContent>
      <app-create_sub_address></app-create_sub_address>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Get tx private key">
    <ng-template ngbTabContent>
      <app-get_tx_private_key></app-get_tx_private_key>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="rescan blockchain">
    <ng-template ngbTabContent>
      <app-rescan_blockchain></app-rescan_blockchain>
    </ng-template>
  </ngb-tab>
</ngb-tabset>