<div class="row">

  <!-- [ card range1 ] start -->

  <div class="col-md-6 col-xl-12">
    <h5>Public Address</h5>
    <app-alert type="primary" *ngIf="public_address_settings === true">The public address has been copied to the
      clipboard </app-alert>
    <hr>
    <div class="card">
      <div class="card-body">
        <div class="col-md-12">
          <div class="input-group">
            <input type="text" [value]="public_address" class="form-control" readonly>
            <span class="input-group-btn">
              <button class="btn btn-primary" (click)="[copyMessage(public_address), timer_data()]">Copy</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ card range1 ] end -->

  <!-- [ Modals ] start -->
  <app-ui-modal #error [containerClick]="false" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">{{error_title}}</h5>
      <button id="error" style="display: none" type="button" class="close basic-close" data-dismiss="modal"
        aria-label="Close" (click)="error.show()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-12" style="word-wrap: break-word;">
            <p>{{error_message}}</p>
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" (click)="error.hide()">Close</button>
    </div>
  </app-ui-modal>
  <!-- [ Modals ] end -->



</div>