<div class="auth-wrapper">
  <div class="auth-content subscribe">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-left">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="mb-4 mt-3">
              <i class="feather icon-mail auth-icon"></i>
            </div>
            <h3 class="mb-4">Subscribe</h3>
            <p class="text-muted">Awesomeness delivered to your inbox.</p>
            <div class="input-group mb-4">
              <input type="email" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <button class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
