<div class="row">

  <!-- [ card range1 ] start -->

  <div class="col-md-6 col-xl-12">
      <h5>Sign Data</h5>
      <app-alert type="primary" *ngIf="signature_settings === true">The Signature Has Been Copied To the Clipboard Successfully</app-alert>
      <hr>
      <div class="card">
        <div class="card-body">

          <br><br>
          <div class="col-md-12">            
      <input type="text" class="form-control" name="validation-required_create_signature_message" placeholder="Message" [ngClass]="{'is-invalid': !requiredInput_create_signature_message.valid && requiredInput_create_signature_message.pristine === false}" #requiredInput_create_signature_message="ngModel" required [(ngModel)]="data">
     </div>

                    <br><br>
                      <button class="btn btn-primary" (click)="sign_data()">Sign Data</button>

                      <br><br>                      
                      <div *ngIf="settings === true">
                         <h5>{{signature}}</h5>
                         <br>
                         <button class="btn btn-primary" (click)="[copyMessage(signature), timer_data()]">Copy</button>
                      </div>

        </div>
      </div>
     </div>
   <!-- [ card range1 ] end -->



   <!-- [ Modals ] start -->
   <app-ui-modal #error [containerClick]="false" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">{{error_title}}</h5>
      <button id="error" style="display: none" type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="error.show()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <form #validationForm="ngForm" class="editForm" novalidate>
      <div class="row">
          <div class="col-md-12" style="word-wrap: break-word;">
              <p>{{error_message}}</p>
              </div>
              </div>
              </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" (click)="error.hide()">Close</button>
    </div>
  </app-ui-modal>
   <!-- [ Modals ] end --> 
</div>
