<div class="row justify-content-between mb-2">
  <div class="col-md-3 col-4">
    <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </div>
  <div class="col-auto">
    <button class="btn btn-primary m-0" type="button" (click)="createSubAddressModal1.show()"><i class="feather icon-plus-circle"></i>Create sub address</button>
  </div>
</div>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  
  <!-- Index Column -->
  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  
  <!-- PaymentID Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
  </ng-container>
  
  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
    <td mat-cell *matCellDef="let element"> {{ element.address | xcashPublicAddress:10 }} </td>
  </ng-container>
  
  <!-- Actions buttons Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button type="button" class="btn btn-icon btn-table-icon btn-outline-secondary mb-0" ngbTooltip="Copied!"
      triggers="manual" #addrCopyTooltip="ngbTooltip" (click)="toggleCopyTooltip(addrCopyTooltip)" placement="top" ngxClipboard [cbContent]="element.address"><i class="feather icon-copy"></i></button>
      
      <!-- Other buttons
        <button type="button" class="btn btn-icon btn-outline-primary mb-0" (click)="onModifyContactToggle(contact)"><i class="feather icon-edit-1"></i></button>
        
        <button type="button" class="btn btn-icon btn-outline-danger m-0" (click)="onDeleteContact(contact.id)"><i class="feather icon-trash"></i></button>
        
        
        <button type="button" class="btn btn-icon btn-outline-success m-0" "><i style="transform: scaleX(-1);" class="fas fa-reply"></i></button>
      -->
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
<mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>


<!-- Create sub address modal 1 -->
<app-ui-modal #createSubAddressModal1 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create sub address</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createSubAddressModal1.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <form [formGroup]="labelForm" (ngSubmit)="onSubmitLabel()" id="labelForm">
      <div class="form-group">
        <label for="sub-address-label">Label (optional)</label>
        <input type="text" class="form-control" id="sub-address-label" placeholder="Enter a label (optional)" formControlName="label" [ngClass]="{'is-invalid': (label.dirty || label.touched) && label.invalid, 'is-valid': (label.dirty || label.touched) && !label.invalid}">
      </div>
    </form>
    
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-success text-center" form="labelForm">Create sub address</button>
  </div>
</app-ui-modal>


<!-- Create sub address modal 2 -->
<app-ui-modal #createSubAddressModal2 dialogClass="modal-dialog-centered" containerClick="false">
  <div class="app-modal-header">
    
    <h5 class="modal-title">Create sub address</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="createSubAddressModal2.hide()"><span aria-hidden="true">&times;</span></button>
    
  </div>
  <div class="app-modal-body">
    
    <div class="form-group">
      <label for="created-sub-address">Created sub address</label>
      <div class="input-group">
        <input type="text" class="form-control" id="created-sub-address" [value]="createdSubAddress" readonly>
        <div class="input-group-append">
          <button class="btn btn-primary btn-icon" type="button" ngbTooltip="Copied!"
          triggers="manual" #addrModalCopyTooltip="ngbTooltip" (click)="toggleCopyTooltip(addrModalCopyTooltip)" ngxClipboard [cbContent]="createdSubAddress"><i class="feather icon-copy"></i></button>
        </div>
      </div>
      <small class="form-text text-muted">You can later retrieve this newly created sub address in the corresponding table.</small>
    </div>
    
  </div>
  
  <div class="app-modal-footer">
    <button class="btn btn-primary text-center" (click)="createSubAddressModal2.hide()">Close</button>
  </div>
</app-ui-modal>