<table datatable [dtOptions]="dtColumnSearchingOptions" class="table table-striped row-border table-hover">
  <tfoot>
  <tr>
    <th><input type="text" placeholder="Search Name" name="search-name" class="form-control" /></th>
    <th><input type="text" placeholder="Search Position" name="search-position" class="form-control" /></th>
    <th><input type="text" placeholder="Search Office" name="search-office" class="form-control" /></th>
    <th><input type="text" placeholder="Search Age" name="search-age" class="form-control" /></th>
    <th><input type="text" placeholder="Search Satrt Date" name="search-date" class="form-control" /></th>
    <th><input type="text" placeholder="Search Salary" name="search-salary" class="form-control" /></th>
  </tr>
  </tfoot>
</table>
