<ul class="navbar-nav">
  <li class="nav-item" *ngIf="showBackToHome">
      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/wallet-dashboard']"><i class="feather icon-chevron-left"></i>Back</button>
  </li>
  <!-- For each item use <li> and class="nav-item" -->
  <!--
  <li appToggleFullScreen><a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a></li>
  <li class="nav-item dropdown" ngbDropdown [placement]="['bottom-left', 'bottom-right']">
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle>Dropdown</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li><a class="dropdown-item" href="javascript:">Action</a></li>
      <li><a class="dropdown-item" href="javascript:">Another action</a></li>
      <li><a class="dropdown-item" href="javascript:">Something else here</a></li>
    </ul>
  </li>
  -->
</ul>
