<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Pre Build Layout 4-4">
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li><mark>layout: <code>vertical</code></mark></li>
                <li><mark>pre-layout: <code>layout-4-4</code></mark></li>
                <li>collapse-menu: <code>false</code></li>
                <li>layout-type: <code>menu-dark</code></li>
                <li>nav-icon-color: <code>false</code></li>
                <li>header-back-color: <code>header-default</code></li>
                <li>nav-back-color: <code>navbar-default</code></li>
                <li>nav-brand-color: <code>brand-default</code></li>
                <li>nav-back-image: <code>false</code></li>
                <li>rtl-layout: <code>false</code></li>
                <li>nav-fixed-layout: <code>true</code></li>
                <li>header-fixed-layout: <code>false</code></li>
                <li>box-layout: <code>false</code></li>
                <li>nav-dropdown-icon: <code>string1</code></li>
                <li>nav-list-icon: <code>string1</code></li>
                <li>nav-active-list-color: <code>active-default</code></li>
                <li>nav-list-title-color: <code>title-default</code></li>
                <li>nav-list-title-hide: <code>false</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
