<div class="d-flex justify-content-between">
  <div>
    <h6>Terms of Use</h6>
    <p class="text-muted mb-0">By using the X-CASH GUI Wallet you are deemed to have accepted our Terms of Use.</p>
  </div>
  <div>
    <button type="button" class="btn btn-secondary m-0"><i class="feather icon-external-link"></i>Term of Use</button>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Privacy Policy</h6>
    <p class="text-muted mb-0">Refer to our Privacy Policy to learn what personal data we collect, why and how we use it.</p>
  </div>
  <div>
    <button type="button" class="btn btn-secondary m-0"><i class="feather icon-external-link"></i>Privacy Policy</button>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Support</h6>
    <p class="text-muted mb-0">A problem? Get help or report a bug in our support section!</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary m-0"><i class="feather icon-help-circle"></i>Support</button>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Version</h6>
    <p class="text-muted mb-0">{{ version }}</p>
  </div>
  <div>
    <button type="button" class="btn btn-secondary m-0"><i class="feather icon-info"></i>Details</button>
  </div>
</div>
<hr>

<div class="d-flex justify-content-between">
  <div>
    <h6>Update</h6>
    <p class="text-muted mb-0">Check for the latest update</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary m-0"><i class="feather icon-refresh-ccw"></i>Check for update</button>
  </div>
</div>