<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Julia" [options]="false">
      <div class="grid">
        <figure class="effect-julia">
          <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" alt="advance-1" />
          <figcaption>
            <h2>Passionate <span>Julia</span></h2>
            <div>
              <p>Julia dances in the deep dark</p>
              <p>She loves the smell of the ocean</p>
              <p>And dives into the morning light</p>
            </div>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-julia">
          <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" alt="advance-2" />
          <figcaption>
            <h2>Passionate <span>Julia</span></h2>
            <div>
              <p>Julia dances in the deep dark</p>
              <p>She loves the smell of the ocean</p>
              <p>And dives into the morning light</p>
            </div>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Goliath" [options]="false">
      <div class="grid">
        <figure class="effect-goliath">
          <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" alt="advance-3" />
          <figcaption>
            <h2>Thoughtful <span>Goliath</span></h2>
            <p>When Goliath comes out, you should run.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-goliath">
          <img src="assets/images/gallery-grid/img-grd-gal-4.jpg" alt="advance-4" />
          <figcaption>
            <h2>Thoughtful <span>Goliath</span></h2>
            <p>When Goliath comes out, you should run.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Hera" [options]="false">
      <div class="grid">
        <figure class="effect-hera">
          <img src="assets/images/gallery-grid/img-grd-gal-5.jpg" alt="advance-5" />
          <figcaption>
            <h2>Tender <span>Hera</span></h2>
            <p>
              <a href="javascript:"><i class="far fa-file-pdf f-36"></i></a>
              <a href="javascript:"><i class="far fa-file-image f-36"></i></a>
              <a href="javascript:"><i class="far fa-file-archive f-36"></i></a>
              <a href="javascript:"><i class="far fa-file-code f-36"></i></a>
            </p>
          </figcaption>
        </figure>
        <figure class="effect-hera">
          <img src="assets/images/gallery-grid/img-grd-gal-6.jpg" alt="advance-6" />
          <figcaption>
            <h2>Tender <span>Hera</span></h2>
            <p>
              <a href="javascript:"><i class="far fa-file-pdf f-36"></i></a>
              <a href="javascript:"><i class="far fa-file-image f-36"></i></a>
              <a href="javascript:"><i class="far fa-file-archive f-36"></i></a>
              <a href="javascript:"><i class="far fa-file-code f-36"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Winston" [options]="false">
      <div class="grid">
        <figure class="effect-winston">
          <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" alt="advance-1" />
          <figcaption>
            <h2>Jolly <span>Winston</span></h2>
            <p>
              <a href="javascript:"><i class="far fa-star"></i></a>
              <a href="javascript:"><i class="far fa-comments"></i></a>
              <a href="javascript:"><i class="far fa-envelope-open"></i></a>
            </p>
          </figcaption>
        </figure>
        <figure class="effect-winston">
          <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" alt="advance-2" />
          <figcaption>
            <h2>Jolly <span>Winston</span></h2>
            <p>
              <a href="javascript:"><i class="far fa-star"></i></a>
              <a href="javascript:"><i class="far fa-comments"></i></a>
              <a href="javascript:"><i class="far fa-envelope-open"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Selena" [options]="false">
      <div class="grid">
        <figure class="effect-selena">
          <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" alt="advance-3" />
          <figcaption>
            <h2>Happy <span>Selena</span></h2>
            <p>Selena is a tiny-winged bird.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-selena">
          <img src="assets/images/gallery-grid/img-grd-gal-4.jpg" alt="advance-4" />
          <figcaption>
            <h2>Happy <span>Selena</span></h2>
            <p>Selena is a tiny-winged bird.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Terry" [options]="false">
      <div class="grid">
        <figure class="effect-terry">
          <img src="assets/images/gallery-grid/img-grd-gal-5.jpg" alt="advance-5" />
          <figcaption>
            <h2>Noisy <span>Terry</span></h2>
            <p>
              <a href="javascript:"><i class="fa fa-fw fa-download"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-heart"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-share"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-tags"></i></a>
            </p>
          </figcaption>
        </figure>
        <figure class="effect-terry">
          <img src="assets/images/gallery-grid/img-grd-gal-6.jpg" alt="advance-6" />
          <figcaption>
            <h2>Noisy <span>Terry</span></h2>
            <p>
              <a href="javascript:"><i class="fa fa-fw fa-download"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-heart"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-share"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-tags"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Phoebe" [options]="false">
      <div class="grid">
        <figure class="effect-phoebe">
          <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" alt="advance-1" />
          <figcaption>
            <h2>Plain <span>Phoebe</span></h2>
            <p>
              <a href="javascript:"><i class="fa fa-fw fa-user"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-heart"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-cog"></i></a>
            </p>
          </figcaption>
        </figure>
        <figure class="effect-phoebe">
          <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" alt="advance-2" />
          <figcaption>
            <h2>Plain <span>Phoebe</span></h2>
            <p>
              <a href="javascript:"><i class="fa fa-fw fa-user"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-heart"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-cog"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Apollo" [options]="false">
      <div class="grid">
        <figure class="effect-apollo">
          <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" alt="advance-3" />
          <figcaption>
            <h2>Strong <span>Apollo</span></h2>
            <p>Apollo's last game of pool was so strange.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-apollo">
          <img src="assets/images/gallery-grid/img-grd-gal-4.jpg" alt="advance-4" />
          <figcaption>
            <h2>Strong <span>Apollo</span></h2>
            <p>Apollo's last game of pool was so strange.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Kira" [options]="false">
      <div class="grid">
        <figure class="effect-kira">
          <img src="assets/images/gallery-grid/img-grd-gal-5.jpg" alt="advance-5" />
          <figcaption>
            <h2>Dark <span>Kira</span></h2>
            <p>
              <a href="javascript:"><i class="fa fa-fw fa-home"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-download"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-heart"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-share"></i></a>
            </p>
          </figcaption>
        </figure>
        <figure class="effect-kira">
          <img src="assets/images/gallery-grid/img-grd-gal-6.jpg" alt="advance-6" />
          <figcaption>
            <h2>Dark <span>Kira</span></h2>
            <p>
              <a href="javascript:"><i class="fa fa-fw fa-home"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-download"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-heart"></i></a>
              <a href="javascript:"><i class="fa fa-fw fa-share"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Steve" [options]="false">
      <div class="grid">
        <figure class="effect-steve">
          <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" alt="advance-1" />
          <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-steve">
          <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" alt="advance-2" />
          <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Moses" [options]="false">
      <div class="grid">
        <figure class="effect-moses">
          <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" alt="advance-3" />
          <figcaption>
            <h2>Cute <span>Moses</span></h2>
            <p>Moses loves to run after butterflies.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-moses">
          <img src="assets/images/gallery-grid/img-grd-gal-4.jpg" alt="advance-4" />
          <figcaption>
            <h2>Cute <span>Moses</span></h2>
            <p>Moses loves to run after butterflies.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Jazz" [options]="false">
      <div class="grid">
        <figure class="effect-jazz">
          <img src="assets/images/gallery-grid/img-grd-gal-5.jpg" alt="advance-5" />
          <figcaption>
            <h2>Dynamic <span>Jazz</span></h2>
            <p>When Jazz starts to chase cars, the whole world stands still.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-jazz">
          <img src="assets/images/gallery-grid/img-grd-gal-6.jpg" alt="advance-6" />
          <figcaption>
            <h2>Dynamic <span>Jazz</span></h2>
            <p>When Jazz starts to chase cars, the whole world stands still.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Ming" [options]="false">
      <div class="grid">
        <figure class="effect-ming">
          <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" alt="advance-1" />
          <figcaption>
            <h2>Funny <span>Ming</span></h2>
            <p>Ming sits in the corner the whole day. She's into crochet.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-ming">
          <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" alt="advance-2" />
          <figcaption>
            <h2>Funny <span>Ming</span></h2>
            <p>Ming sits in the corner the whole day. She's into crochet.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Lexi" [options]="false">
      <div class="grid">
        <figure class="effect-lexi">
          <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" alt="advance-3" />
          <figcaption>
            <h2>Altruistic <span>Lexi</span></h2>
            <p>Each and every friend is special. Lexi won't hide a single cookie.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-lexi">
          <img src="assets/images/gallery-grid/img-grd-gal-4.jpg" alt="advance-4" />
          <figcaption>
            <h2>Altruistic <span>Lexi</span></h2>
            <p>Each and every friend is special. Lexi won't hide a single cookie.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
    <app-card cardTitle="Duke" [options]="false">
      <div class="grid">
        <figure class="effect-duke">
          <img src="assets/images/gallery-grid/img-grd-gal-5.jpg" alt="advance-5" />
          <figcaption>
            <h2>Messy <span>Duke</span></h2>
            <p>Duke is very bored. When he looks at the sky, he feels to run.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
        <figure class="effect-duke">
          <img src="assets/images/gallery-grid/img-grd-gal-6.jpg" alt="advance-6" />
          <figcaption>
            <h2>Messy <span>Duke</span></h2>
            <p>Duke is very bored. When he looks at the sky, he feels to run.</p>
            <a href="javascript:">View more</a>
          </figcaption>
        </figure>
      </div>
    </app-card>
  </div>
</div>
